openapi: 3.0.1
info:
  title: VMware Cloud APIs
  description: |
    * All VMware Cloud APIs require a valid authentication token; which can be obtained by issuing a `POST`:
      ```
      curl -s -X POST \
          -H "Content-Type: application/json" \
          https://console.cloud.vmware.com/csp/gateway/am/api/auth/api-tokens/authorize?refresh_token={refresh-token}
      ```
    * This CSP API is defined at: https://console.cloud.vmware.com/csp/gateway/am/api/swagger-ui.html#/Authentication/getAccessTokenByApiRefreshTokenUsingPOST

    * The `refresh_token` used to get a valid authentication token can be obtained after successful login to
      following URL via a web browser: https://console.cloud.vmware.com/csp/gateway/portal/#/user/tokens.
    * Most VMware Cloud APIs require an org identifier.
      This can be obtained by issuing a `GET` on `/vmc/api/orgs` and extracting the `id` field
  termsOfService: https://vmc.vmware.com/terms-and-conditions
  contact:
    name: VMware
  license:
    name: Copyright (c) 2016-2018 VMware, Inc. All rights reserved.
  version: "1.0"
  x-vmw-vapi-codegenconfig:
    package-name: com.vmware.vmc
    tag-resources-by-url-path: true
servers:
- url: https://vmc.vmware.com/vmc/api
security:
- api_key: []
tags:
- name: orgs
  description: Organizations
- name: subscription
  description: Subscriptions
- name: task
  description: Tasks
- name: sddc
  description: SDDCs
- name: publicip
  description: SDDC Public IPs
- name: esx
  description: ESX Hosts
- name: network
  description: SDDC Networks
- name: dns
  description: DNS
- name: reservations
  description: Reservations and Maintenance Windows
- name: account-linking
  description: AWS Account Connection Operations
- name: sddc-template
  description: SDDC Configuration Template
- name: troubleshooting
  description: Network Troubleshooting
- name: tbrs
  description: Ticket Based Reservation Service
- name: storage
  description: General storage APIs
- name: config-storage
  description: Storage configuration APIs
- name: edges
  description: Operations on management and compute gateway (NSX Edges).
- name: sddc-networks
  description: Operations on SDDC Networks.
paths:
  /orgs/{org}/tbrs/support-window/{id}:
    put:
      tags:
      - tbrs
      description: Move Sddc to new support window
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: Target Support Window ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: SDDC to move
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SddcId'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportWindowId'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Feature does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: tbrs
      x-vmw-vapi-methodname: put
      x-codegen-request-body-name: sddcId
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges/{edgeId}/statistics/dashboard/firewall:
    get:
      tags:
      - edges
      description: Retrieve firewall dashboard statistics for a management or compute
        gateway (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: interval
        in: query
        description: 60 min by default, can be given as 1 - 60 min, oneDay, oneWeek,
          oneMonth, oneYear.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboardStatistics'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.statistics.dashboard.firewall
  /orgs/{org}/sddcs/{sddc}/publicips/{id}:
    get:
      tags:
      - sddc
      - publicip
      summary: Get one public IP for a SDDC
      description: Get one public IP for a SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: ip allocation id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SddcPublicIp'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Cannot find the public IP with given IP address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: publicips
      x-vmw-vapi-methodname: get
    delete:
      tags:
      - sddc
      - publicip
      summary: Free one public IP for a SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: ip allocation id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "400":
          description: The sddc is not in a state that's valid for updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access not allowed to the operation for the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Cannot find the public IP with given IP address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: publicips
      x-vmw-vapi-methodname: delete
    patch:
      tags:
      - sddc
      - publicip
      summary: Attach or detach a public IP to workload VM for a SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: ip allocation id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: action
        in: query
        description: |
          Type of action as 'attach', 'detach', 'reattach', or 'rename'.
          For 'attch', the public IP must not be attached and 'associated_private_ip'
          in the payload needs to be set with a workload VM private IP.
          For 'detach', the public IP must be attached and 'associated_private_ip'
          in the payload should not be set with any value.
          For 'reattach', the public IP must be attached and 'associated_private_ip'
          in the payload needs to be set with a new workload VM private IP.
          For 'rename', the 'name' in the payload needs to have a new name string.
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: SddcPublicIp object to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SddcPublicIp'
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "400":
          description: The sddc is not in a state that's valid for updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access not allowed to the operation for the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Cannot find the public IP with given IP address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: publicips
      x-vmw-vapi-methodname: update
      x-codegen-request-body-name: SddcPublicIp object
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges/{edgeId}/nat/config:
    get:
      tags:
      - edges
      description: Retrieve NAT configuration for a management or compute gateway
        (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nat'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.nat.config
    put:
      tags:
      - edges
      description: Modify NAT configuration for a management or compute gateway (NSX
        Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nat'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: update
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.nat.config
      x-codegen-request-body-name: nat
    delete:
      tags:
      - edges
      description: Delete all NAT configuration for the specified management or compute
        gateway (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: delete
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.nat.config
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges/{edgeId}/dns/statistics:
    get:
      tags:
      - edges
      description: Retrieve DNS server statistics for a management or compute gateway
        (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsStatusAndStats'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.dns.statistics
  /orgs/{org}/reservations:
    get:
      tags:
      - reservations
      summary: Get all reservations for this org
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MaintenanceWindowEntry'
                x-content-type: application/json
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access not allowed to the operation for the current user
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
      deprecated: true
      x-vmc-ui-servicename: reservations
      x-vmw-vapi-methodname: list
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges/{edgeId}/ipsec/config:
    get:
      tags:
      - edges
      description: Retrieve IPsec VPN configuration for a management or compute gateway
        (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: showSensitiveData
        in: query
        description: Set to true to show sensitive data. Default value is false.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ipsec'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.ipsec.config
    put:
      tags:
      - edges
      description: Modify IPsec VPN configuration for a management or compute gateway
        (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: IPsec Configuration dto object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ipsec'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: update
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.ipsec.config
      x-codegen-request-body-name: ipsec
    delete:
      tags:
      - edges
      description: Delete IPsec VPN configuration for a management or compute gateway
        (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: delete
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.ipsec.config
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges/{edgeId}/firewall/config/rules/{ruleId}:
    get:
      tags:
      - edges
      description: Retrieve a specific firewall rule for a management or compute gateway
        (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ruleId
        in: path
        description: Rule Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nsxfirewallrule'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.firewall.config.rules
    put:
      tags:
      - edges
      description: Modify the specified firewall rule for a management or compute
        gateway (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ruleId
        in: path
        description: Rule Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nsxfirewallrule'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: update
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.firewall.config.rules
      x-codegen-request-body-name: nsxfirewallrule
    delete:
      tags:
      - edges
      description: Delete a specific firewall rule for a management or compute gateway
        (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ruleId
        in: path
        description: Rule Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: delete
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.firewall.config.rules
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges:
    get:
      tags:
      - edges
      description: Retrieve information about all management and compute gateways
        and other routers (NSX Edges).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeType
        in: query
        description: Retrieve records matching NSX Edge type ('gatewayServices' or
          'distributedRouter'). Specify gatewayServices to find management and compute
          gateways in your SDDC.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: prevEdgeId
        in: query
        description: Provide Edge ID as prevEdgeId to serve as reference for startIndex.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: startIndex
        in: query
        description: Start index for the current page. Default is 0.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Number of records per page. Default is 256.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: sortOrderAscending
        in: query
        description: Set to true to fetch records in ascending sorted order.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: sortBy
        in: query
        description: Sort records using one of the column names (id, name, description,
          tenantId, size, enableFips).
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filter
        in: query
        description: Filter records matching the NSX Edge ID, name or description.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: LDRname
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pagedEdgeList'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges
  /orgs/{org}/sddcs/{sddcId}/addons/{addonType}/credentials:
    get:
      tags:
      - credentials
      - sddc
      - addons
      - hcx
      summary: List all the credentials assoicated with an addon type with in a SDDC
      description: List all the credentials assoicated with an addon type with in
        a SDDC
      parameters:
      - name: org
        in: path
        description: Org id of the associated SDDC
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: sddcId
        in: path
        description: Id of the SDDC
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: addonType
        in: path
        description: Add on type
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - HCX
      responses:
        "200":
          description: Successfully listed all credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewCredentials'
                x-content-type: application/json
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: credentials
      x-vmw-vapi-methodname: list
    post:
      tags:
      - credentials
      - sddc
      - addons
      - hcx
      summary: Associate a new add on credentials with the SDDC such as HCX
      description: Associated a new add on credentials with the SDDC such as HCX
      parameters:
      - name: org
        in: path
        description: Org id of the associated SDDC
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: sddcId
        in: path
        description: Id of the SDDC
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: addonType
        in: path
        description: Add on type
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - HCX
      requestBody:
        description: Credentials creation payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCredentials'
        required: true
      responses:
        "201":
          description: Credentials created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewCredentials'
        "400":
          description: Invalid input
          content: {}
        "403":
          description: Forbidden
          content: {}
        "409":
          description: Credentials with same name exists with in the scope of addOnType
          content: {}
      x-vmc-ui-servicename: credentials
      x-vmw-vapi-methodname: create
      x-codegen-request-body-name: credentials
  /orgs/{org}/account-link/connected-accounts/{linkedAccountPathId}:
    delete:
      tags:
      - account-linking
      summary: Delete a particular connected (linked) account.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: linkedAccountPathId
        in: path
        description: The linked connected account identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: forceEvenWhenSddcPresent
        in: query
        description: When true, forcibly removes a connected account even when SDDC's
          are still linked to it.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsCustomerConnectedAccount'
        "400":
          description: An invalid connected account ID was specified, or the connection
            still has SDDCs active on it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: connected-accounts
      x-vmw-vapi-methodname: delete
  /orgs/{org}/sddcs/{sddc}/networks/4.0/sddc/networks/{networkId}:
    get:
      tags:
      - sddc-networks
      description: Retrieve information about a network in an SDDC.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: networkId
        in: path
        description: Logical Network Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sddcNetwork'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.logical
    put:
      tags:
      - sddc-networks
      description: Modify a network in an SDDC.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: networkId
        in: path
        description: Logical Network Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sddcNetwork'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: update
      x-vmw-vapi-servicename: orgs.sddcs.networks.logical
      x-codegen-request-body-name: sddcNetwork
    delete:
      tags:
      - sddc-networks
      description: Delete a network in an SDDC.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: networkId
        in: path
        description: Logical Network Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: delete
      x-vmw-vapi-servicename: orgs.sddcs.networks.logical
  /orgs/{org}/sddcs/{sddc}/esxs:
    post:
      tags:
      - sddc
      - esx
      summary: Add/Remove one or more ESX hosts in the target cloud
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: action
        in: query
        description: |
          If = 'add', will add the esx.
          If = 'remove', will delete the esx/esxs bound to a single cluster (Cluster Id is mandatory for non cluster 1 esx remove).
          If = 'force-remove', will delete the esx even if it can lead to data loss (This is an privileged operation).
          If = 'addToAll', will add esxs to all clusters in the SDDC (This is an privileged operation).
          If = 'removeFromAll', will delete the esxs from all clusters in the SDDC (This is an privileged operation).
          If = 'attach-diskgroup', will attach the provided diskgroups to a given host (privileged).
          If = 'detach-diskgroup', will detach the diskgroups of a given host (privileged).
          Default behaviour is 'add'
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: esxConfig
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EsxConfig'
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "400":
          description: The sddc is not in a state that's valid for updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access not allowed to the operation for the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Cannot find the SDDC with the given identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: esxs
      x-vmw-vapi-methodname: create
      x-codegen-request-body-name: esxConfig
  /orgs/{org}/reservations/{reservation}/mw:
    get:
      tags:
      - reservations
      summary: get the maintenance window for this SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: reservation
        in: path
        description: Reservation Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceWindowGet'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access not allowed to the operation for the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      x-vmc-ui-servicename: reservations
      x-vmw-vapi-methodname: get
    put:
      tags:
      - reservations
      summary: update the maintenance window for this SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: reservation
        in: path
        description: Reservation Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Maintenance Window
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaintenanceWindow'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceWindow'
        "400":
          description: The reservation is not in a state that's valid for updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access not allowed to the operation for the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict with exiting reservation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      x-vmc-ui-servicename: reservations
      x-vmw-vapi-methodname: put
      x-codegen-request-body-name: window
  /orgs/{org}/subscriptions/offer-instances:
    get:
      tags:
      - subscription
      summary: List all offers available for the specific product type in the specific
        region
      description: |
        List all offers available for the specific product type in the specific region
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: region
        in: query
        description: Region for the offer
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: product_type
        in: query
        description: Type of the product in offers. *This has been deprecated*. Please
          use product & type parameters
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: product
        in: query
        description: The product that you are trying to purchase, eg. host. This needs
          to be accompanied by the type parameter
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: |
          The type/flavor of the product you are trying it purchase,eg. an `r5.metal` host.
          This needs to be accompanied by the product parameter.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferInstancesHolder'
        "400":
          description: Bad Request. Type of the product not supported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: offer-instances
      x-vmw-vapi-methodname: list
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges/{edgeId}/dns/config:
    get:
      tags:
      - edges
      description: Retrieve DNS server configuration for a management or compute gateway
        (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dnsConfig'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.dns.config
    put:
      tags:
      - edges
      description: Configure DNS server configuration for a management or compute
        gateway (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dnsConfig'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: update
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.dns.config
      x-codegen-request-body-name: dnsConfig
    post:
      tags:
      - edges
      description: Enable or disable DNS configuration for a management or compute
        gateway (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: enable
        in: query
        description: Set to true to enable, set to false to disable.
        required: true
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: create
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.dns.config
    delete:
      tags:
      - edges
      description: Delete DNS server configuration for a management or compute gateway
        (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: delete
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.dns.config
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges/{edgeId}/firewall/config:
    get:
      tags:
      - edges
      description: Retrieve the firewall configuration for a management or compute
        gateway (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewallConfig'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.firewall.config
    put:
      tags:
      - edges
      description: Configure firewall for a management or compute gateway (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewallConfig'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: update
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.firewall.config
      x-codegen-request-body-name: firewallConfig
    delete:
      tags:
      - edges
      description: Delete firewall configuration for a management or compute gateway
        (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: delete
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.firewall.config
  /orgs/{org}/providers:
    get:
      tags:
      - orgs
      summary: Get enabled cloud providers for an organization
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AwsCloudProvider'
                x-content-type: application/json
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Organization doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: providers
      x-vmw-vapi-methodname: list
  /orgs/{org}/account-link/sddc-connections:
    get:
      tags:
      - account-linking
      summary: Get a list of SDDC connections currently setup for the customer's organization.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: query
        description: sddc
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AwsSddcConnection'
                x-content-type: application/json
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: sddc-connection
      x-vmw-vapi-methodname: get
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges/{edgeId}/statistics/interfaces/internal:
    get:
      tags:
      - edges
      description: Retrieve internal interface statistics for a management or compute
        gateway (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: startTime
        in: query
        description: Show statistics from this start time (in milliseconds since epoch).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: Show statistics until this end time (in milliseconds since epoch).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cbmStatistics'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.statistics.interfaces.internal
  /orgs/{org}/subscriptions/{subscription}:
    get:
      tags:
      - subscription
      summary: Get a subscription
      description: Get subscription details for a given subscription id
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscription
        in: path
        description: SubscriptionId for an sddc.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDetails'
        "404":
          description: Not Found
          content: {}
        "500":
          description: |
            Server error.
            Check retryable flag to see if request should be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: subscription
      x-vmw-vapi-methodname: get
  /orgs/{org}/sddcs/{sddc}/clusters/{cluster}/config/constraints:
    get:
      tags:
      - config-storage
      summary: Get storage size constraints on existing cluster.
      description: |
        This API provides the storage choices available when reconfiguring storage in a cluster. The constraints returned will give vSAN reconfiguration biases and available vSAN capacities per reconfiguration bias. The constraints also indicate the default vSAN capacity per reconfiguration biases as well as the default reconfiguration bias.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: cluster
        in: path
        description: cluster identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: expected_num_hosts
        in: query
        description: |
          The expected number of hosts in the cluster. If not specified, returned is based on current number of hosts in the cluster.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VsanClusterReconfigConstraints'
        "400":
          description: Invalid or missing parameters
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: clusterConfigure
      x-vmw-vapi-methodname: get
  /orgs/{org}/sddcs:
    get:
      tags:
      - sddc
      summary: List all the SDDCs of an organization
      description: List all the SDDCs of an organization
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: includeDeleted
        in: query
        description: When true, forces the result to also include deleted SDDCs.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sddc'
                x-content-type: application/json
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-methodname: list
    post:
      tags:
      - sddc
      summary: Provision SDDC
      description: Provision an SDDC in target cloud
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: validateOnly
        in: query
        description: When true, only validates the given sddc configuration without
          provisioning.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        description: sddcConfig
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsSddcConfig'
        required: true
      responses:
        "200":
          description: OK, only if 'validateOnly' param is set to true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "202":
          description: Accepted, only if 'validateOnly' param is is set to false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-methodname: create
      x-codegen-request-body-name: sddcConfig
  /orgs/{org}/tbrs/reservation:
    post:
      tags:
      - tbrs
      description: Retreive all reservations for all SDDCs in this org
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: SDDCs and/or states to query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SddcStateRequest'
        required: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ReservationWindow'
                x-content-type: application/json
        "400":
          description: Bad Call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: tbrs
      x-vmw-vapi-methodname: post
      x-codegen-request-body-name: sddcState
  /orgs/{org}/sddcs/provision-spec:
    get:
      tags:
      - sddc
      summary: Get sddc provision spec for an org
      description: Get sddc provision spec for an org
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisionSpec'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: |
            Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: provisionSpec
      x-vmw-vapi-methodname: get
  /orgs/{org}:
    get:
      tags:
      - orgs
      summary: Get details of organization
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Organization doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: orgs
      x-vmw-vapi-methodname: get
  /orgs/{org}/sddcs/{sddcId}/addons/{addonType}/credentials/{name}:
    get:
      tags:
      - credentials
      - sddc
      - addons
      - hcx
      summary: Get credential details by name
      description: Get credential details by name
      parameters:
      - name: org
        in: path
        description: Org id of the associated SDDC
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: sddcId
        in: path
        description: Id of the SDDC
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: addonType
        in: path
        description: Add on type
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - HCX
      - name: name
        in: path
        description: name of the credentials
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Get credential details by name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewCredentials'
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: credentials
      x-vmw-vapi-methodname: get
    put:
      tags:
      - credentials
      - sddc
      - addons
      - hcx
      summary: Update credential details
      description: Update credential details
      parameters:
      - name: org
        in: path
        description: Org id of the associated SDDC
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: sddcId
        in: path
        description: Id of the SDDC
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: addonType
        in: path
        description: Add on type
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - HCX
      - name: name
        in: path
        description: name of the credentials
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Credentials update payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCredentials'
        required: true
      responses:
        "200":
          description: Updated credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewCredentials'
        "400":
          description: Bad request
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: credentials
      x-vmw-vapi-methodname: update
      x-codegen-request-body-name: credentials
  /orgs:
    get:
      tags:
      - orgs
      summary: Get organizations associated with calling user.
      description: |
        Return a list of all organizations the calling user (based on credential) is authorized on.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
                x-content-type: application/json
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: orgs
      x-vmw-vapi-methodname: list
  /orgs/{org}/tbrs/support-window:
    get:
      tags:
      - tbrs
      description: Get all available support windows
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: minimumSeatsAvailable
        in: query
        description: minimum seats available (used as a filter)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: createdBy
        in: query
        description: user name which was used to create the support window (used as
          a filter)
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success, return list of available Support Windows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupportWindow'
                x-content-type: application/json
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: No support windows are available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: tbrs
      x-vmw-vapi-methodname: get
  /orgs/{org}/sddcs/{sddc}/clusters:
    post:
      tags:
      - sddc
      summary: Add a cluster in the target sddc.
      description: Creates a new cluster in customers sddcs with passed clusterConfig.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: clusterConfig
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterConfig'
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "400":
          description: The sddc is not in a state that's valid for updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access not allowed to the operation for the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Cannot find the cluster with the given identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: clusters
      x-vmw-vapi-methodname: create
      x-codegen-request-body-name: clusterConfig
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges/{edgeId}/dhcp/leaseInfo:
    get:
      tags:
      - edges
      description: Retrieve DHCP leaseinfo of a management or compute gateway (NSX
        Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dhcpLeases'
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.dhcp.leaseinfo
  /orgs/{org}/sddcs/{sddc}/convert:
    post:
      tags:
      - sddc
      summary: Converts a one host SDDC to a four node DEFAULT SDDC.
      description: This API converts a one host SDDC to a four node DEFAULT SDDC.
        It takes care of configuring and upgrading the vCenter configurations on the
        SDDC for high availability and data redundancy.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "400":
          description: The sddc is not in a state that's valid for updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access not allowed to the operation for the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Cannot find the SDDC with given identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-methodname: create
  /orgs/{org}/sddcs/{sddc}/publicips:
    get:
      tags:
      - sddc
      - publicip
      summary: List all public IPs for a SDDC
      description: list all public IPs for a SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SddcPublicIp'
                x-content-type: application/json
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Cannot find the SDDC with given identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: publicips
      x-vmw-vapi-methodname: list
    post:
      tags:
      - sddc
      - publicip
      summary: Allocate public IPs for a SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: allocation spec
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SddcAllocatePublicIpSpec'
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "400":
          description: The sddc is not in a state that's valid for updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access not allowed to the operation for the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Cannot find the SDDC with given identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: publicips
      x-vmw-vapi-methodname: create
      x-codegen-request-body-name: spec
  /orgs/{org}/sddcs/{sddc}/dns/private:
    put:
      tags:
      - sddc
      - dns
      summary: Update the DNS records of management VMs to use private IP addresses
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "400":
          description: The sddc is not in a state that's valid for updates or invalid
            body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: dns-private
      x-vmw-vapi-methodname: update
  /orgs/{org}/sddcs/{sddc}/sddc-template:
    get:
      tags:
      - sddc-template
      summary: Get configuration template for an SDDC
      description: Get configuration template for  an SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SddcTemplate'
        "400":
          description: SDDC is in a state that cannot be use for generating configuration
            template
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Cannot find the SDDC with given identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: sddc-template
      x-vmw-vapi-methodname: get
  /orgs/{org}/sddcs/{sddc}:
    get:
      tags:
      - sddc
      summary: Get SDDC
      description: Get SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sddc'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Cannot find the SDDC with given identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-methodname: get
    delete:
      tags:
      - sddc
      summary: Delete SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: retain_configuration
        in: query
        description: |
          If = 'true', the SDDC's configuration is retained as a template for later use. This flag is applicable only to SDDCs in ACTIVE state.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: template_name
        in: query
        description: |
          Only applicable when retainConfiguration is also set to 'true'. When set, this value will be used as the name of the SDDC configuration template generated.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: force
        in: query
        description: |
          If = true, will delete forcefully. Beware: do not use the force flag if there is a chance an active provisioning or deleting task is running against this SDDC. This option is restricted.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "400":
          description: The sddc is not in a state that's valid for deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Access not allowed to the operation for the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Cannot find the SDDC with given identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-methodname: delete
    patch:
      tags:
      - sddc
      summary: Patch SDDC
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Patch request for the SDDC
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SddcPatchRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sddc'
        "400":
          description: SDDC cannot be patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Cannot find the SDDC with given identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-methodname: patch
      x-codegen-request-body-name: SddcPatchRequest
  /orgs/{org}/account-link/compatible-subnets-async:
    get:
      tags:
      - account-linking
      summary: Gets a customer's compatible subnets for account linking via a task.
        The information is returned as a member of the task (found in task.params['subnet_list_result']
        when you are notified it is complete), and it's documented under ref /definitions/AwsCompatibleSubnets
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: linkedAccountId
        in: query
        description: The linked connected account identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: region
        in: query
        description: The region of the cloud resources to work in
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sddc
        in: query
        description: sddc
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: instanceType
        in: query
        description: The server instance type to be used.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sddcType
        in: query
        description: The sddc type to be used. (1NODE, SingleAZ, MultiAZ)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: numOfHosts
        in: query
        description: The number of hosts
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: compatible-subnets-async
      x-vmw-vapi-methodname: get
    post:
      tags:
      - account-linking
      summary: Sets which subnet to use to link accounts and finishes the linking
        process via a task
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The subnet chosen by the customer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsSubnet'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
      x-vmc-ui-servicename: compatible-subnets-async
      x-vmw-vapi-methodname: post
      x-codegen-request-body-name: aws_subnet
  /orgs/{org}/sddcs/{sddc}/networks/4.0/edges/{edgeId}/l2vpn/config/statistics:
    get:
      tags:
      - edges
      description: Retrieve L2 VPN statistics for a compute gateway (NSX Edge).
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: edgeId
        in: path
        description: Edge Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/l2vpnStatusAndStats'
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad request. Request object passed is invalid.
          content: {}
        "403":
          description: Forbidden. Authorization header not provided.
          content: {}
        "404":
          description: Not found. Requested object not found.
          content: {}
      x-vmw-vapi-methodname: get
      x-vmw-vapi-servicename: orgs.sddcs.networks.edges.l2vpn.config.statistics
  /orgs/{org}/account-link:
    get:
      tags:
      - account-linking
      summary: Gets a link that can be used on a customer's account to start the linking
        process.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content: {}
      x-vmc-ui-servicename: accounts
      x-vmw-vapi-methodname: get
  /orgs/{org}/payment-methods:
    get:
      tags:
      - orgs
      summary: Get payment methods of organization
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: defaultFlag
        in: query
        description: When true, will only return default payment methods.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethodInfo'
                x-content-type: application/json
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: Organization doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-vmc-ui-servicename: orgs
      x-vmw-vapi-methodname: getOrgPaymentMethods
  /orgs/{org}/subscriptions/products:
    get:
      tags:
      - subscription
      summary: List of all the products that are available for purchase.
      description: |
        List of all the products that are available for purchase.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionProducts'
                x-content-type: application/json
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "500":
          description: Internal server error
          content: {}
      x-vmc-ui-servicename: products
      x-vmw-vapi-methodname: list
  /orgs/{org}/sddcs/{sddc}/clusters/{cluster}:
    delete:
      tags:
      - sddc
      summary: Delete a cluster.
      description: This is a force operation which will delete the cluster even if
        there can be a data loss. Before calling this operation, all the VMs should
        be powered off.
      parameters:
      - name: org
        in: path
        description: Organization identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sddc
        in: path
        description: Sddc Identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: cluster
        in: path
        description: cluster identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "400":
          description: The sddc is not in a state that's valid for updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
[...]
